* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #3d3d3d;
  max-width: 1280px;
  margin: auto;
}

header {
  background-color: #4d4d4d;
  text-align: center;
  color: #fff;
  padding: 1.5rem;
}

nav a {
  margin-right: 0.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.banner-content{
  text-align: center;
}
.banner-content h2 {
  color: #fff;
}
.banner-content h3{
  color: #00e77f;
}
main{
  display: grid;
  grid-gap: 0.5rem;
}
.course{
  background-color: #4d4d4d;
  border-radius: 1rem;
}
.course-content{
  color:#fff;
  text-align: center;
}


@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  main{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
 main{
  grid-template-columns: 1fr 1fr 1fr;
 } 
}