
    div{
      background-color: green;
      text-align: center;
      color: aliceblue;
    }


    @media (min-width: 768px){
      div{
        background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    @media (min-width: 1280px){
      div{
        background-color: aqua;
      }
    }

   